.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.vscode/settings.json
.vscode/tasks.json
DatingApp.API/Properties/launchSettings.json
DatingApp.API/Properties/launchSettings.json
DatingApp.API/Properties/launchSettings.json
DatingApp.API/DatingApp.db
